nav {
    background-color: #007bff;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    margin-right: 1rem;
  }
  
  nav ul {
    max-width:1440px;
    width:100%;
    margin:auto;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  nav li {
    margin-right: 1rem;
  }
  
  nav button {
    background-color: #dc3545;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  nav button:hover {
    background-color: #c82333;
  }
  nav ul div{
    display: flex;
    
  }
  
  router-outlet {
    margin: 1rem;
  }
  